/* Variables */
:root {
  --primary-color: #282c34; /* Dark primary color */
  --accent-color: #61dafb; /* Accent color */
  --font-size-base: 10px; /* Base font size */
}

/* General styles */
.App {
  text-align: center;
}

/* Logo styles */
.App-logo {
  height: 10vmin; /* Responsive logo size */
  pointer-events: none; /* Prevent logo from being interactive */
}

/* Logo animation */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: spin 20s infinite linear; /* Logo spinning animation */
  }
}

/* Header styles */
.App-header {
  background-color: var(--primary-color); /* Use dark primary color for header background */
  min-height: 100vh; /* Full height */
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  align-items: center; /* Center align child elements horizontally */
  justify-content: center; /* Center align child elements vertically */
  font-size: calc(var(--font-size-base) + 2vmin); /* Responsive font size */
  color: white; /* White text color */
}

/* Link styles */
.App-link {
  color: var(--accent-color); /* Use accent color for links */
}

/* Keyframes for logo spin */
@keyframes spin {
  from {
    transform: rotate(0deg); /* Initial rotation */
  }
  to {
    transform: rotate(360deg); /* Rotate to 360 degrees */
  }
}


